.circulo-casca {
    height: 42px;
    width: 42px;
    background-color: var(--color-fourth);
    border-radius: 50%;
    position: relative;
}

.circulo-casca>.circulo-meio {
    position: absolute;
    height: 21px;
    width: 21px;
    background-color: var(--color-zero);
    border-radius: 50%;
    top: 25%;
    left: 25%;
}