.grid-left, .grid-right, .grid-top, .grid-bottom {
    width: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--color-third);
}

.vertical, .horizontal {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.horizontal {
    transform: rotate(90deg);
    top: -100%;
    position: relative;
}