.grid-game {
    display: grid;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.grid-game > .item {
    display: flex;
    justify-content: center;
}